body {
  background-image: url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;
}
h1 {
  text-align: center;
}
#update_form {
  width: 400px;
  padding: 16px;
  margin: auto;
  background: #ffffff none repeat scroll 0 0;
}

#update_form input {
  background-color: #f7f7f7;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}

#update_form label {
  width: 100px;
  font-weight: bold;
  display: inline-block;
}

#update_form .btn {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
