link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
head
  link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  link(rel='stylesheet', href='../../stylesheets/update.css')
  meta(name='google-site-verification' content='pxOa2Qv7Wq0cQ78SbERxoOVDxJ-XbKHZL8rvLmki3xs')

block content
    a(href="/bicicletas") Volver
    br
    br
    br

    h1 Nueva bicicleta

    br
    br

    form#update_form(action="/bicicletas/create" method="post")
        label(for="id") ID:
        input#id(type="text" name="id")
        br
        label(for="id") Color:
        input#color(type="text" name="color")
        br
        label(for="id") Modelo:
        input#modelo(type="text" name="modelo")
        br
        label(for="id") Latitud:
        input#lat(type="text" name="lat")
        br
        label(for="id") Longitud:
        input#lng(type="text" name="lng")
        br
        br
        input.btn(type="submit", value="OK")

