extends ../layout

block content
    a.btn.btn-success(href="/bicicletas/create") Nueva Bicicleta
    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicacion
                th(scope='col')
        tbody
            each bicicleta in bicicletas
              tr
                td(scope='row')
                  = bicicleta.code
                td= bicicleta.color
                td= bicicleta.modelo
                td= bicicleta.ubicacion
                td
                  a(href='bicicletas/' + bicicleta.code + '/update') Editar 
                td
                    form.inline(method='post' action='bicicletas/' + bicicleta.code + '/delete')
                        input(type='hidden' name='id' value= bicicleta.code)
                        button.link-button.btn-danger(type='submit' name='submit_param' value='submit_value' class='btn' )
                            = 'Eliminar'
                        