link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
head
  link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  link(rel='stylesheet', href='../../stylesheets/update.css')
  meta(name='google-site-verification' content='pxOa2Qv7Wq0cQ78SbERxoOVDxJ-XbKHZL8rvLmki3xs')


block content
    a(href="/bicicletas") Volver
    br
    br
    br

    h1 Modificar bicicleta

    br
    br

    form#update_form(action=`/bicicletas/${bici.code}/update` method="post")
        label(for="id") ID:
        input#id(type="text" name="id" value= bici.code)

        br
        label(for="id") COLOR:
        input#color(type="text" name="color" value= bici.color)
        br
        label(for="id") MODELO:
        input#modelo(type="text" name="modelo" value= bici.modelo)
        br
        label(for="id") LATITUD:
        input#lat(type="text" name="lat" value= bici.ubicacion[0])
        br
        label(for="id") LONGITUD:
        input#lng(type="text" name="lng" value= bici.ubicacion[1])
        br
        br
        input.btn(type="submit", value="OK")
